/* Initial settings */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

.calculator__main {
    border: 1px lightgrey solid;
    padding: .75rem;
    height: 25%;
    width: 25%;
}

.display__row {
    display: flex;
}

.display {
    flex: 100%;
}

.btn {
    border: 1px grey solid;
    border-radius: 0;
}

.operation__row {
    display: flex;
}

.operation__row .btn {
    flex: 25%;
}

.numberpad__main {
    display: flex;
}

.numbers {
    flex: 75%;
    flex-shrink: 1;
    flex-wrap: wrap;
    display: flex;
}

.numbers .btn {
    flex: 33%;
}

.equal {
    flex: 25%;
    display: flex;
    /*align-items: stretch;*/
    /*align-content: stretch;*/
}

.btn__equal {
    align-self: stretch; /* vagy a befoglaló div-jében 'align-item: stretch', viszont az minden elemre vonatkozik. */
    background-color: cornflowerblue;
    color: whitesmoke;
    flex: 25%;
}

/*
Kell:
keretek színe: középszürke, 0,7-ös alpha
gombok szövege mindkét tengelyen középre igazítva
gombok háttérszíne:
    normál: halványszürke
    műveleti: középszürke
    egyenlő: primary-kék
Egyenlő gomb szöveg színe: fehér
Egyenlő gomb 3 sornyira kinyújtva flexboxban
*/