/* Initial settings */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

.btn {
    border: 1px grey solid;
    border-radius: 0;
}
.btn__example {
    background-color: cornflowerblue;
    color: whitesmoke;
}

/*
Kell:
keretek színe: középszürke, 0,7-ös alpha
gombok szövege mindkét tengelyen középre igazítva
gombok háttérszíne:
    normál: halványszürke
    műveleti: középszürke
    egyenlő: primary-kék
Egyenlő gomb szöveg színe: fehér
Egyenlő gomb 3 sornyira kinyújtva flexboxban
*/