/* Initial settings */
:root {
    --calc-border: 1px lightgrey solid;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 550;
}

body {
    height: 100%;
    width: 100%;
}

.calculator__main {
    /* border: 1px lightgrey solid; */
    border: var(--calc-border);
    height: 25%;
    padding: .75rem;
    width: 25%;
}

.display__row {
    display: flex;
}

.display {
    border: var(--calc-border);
    flex: 100%;
    margin: .2rem;
    padding: .5rem;
}

.btn {
    border: var(--calc-border);
    /* border: 1px grey solid; */
    border-radius: 0;
    margin: .2rem;
    padding: .5rem;
}

.operation__row {
    display: flex;
}

.operation__row .btn {
    flex: 25%;
}

.numberpad__main {
    display: flex;
}

.numbers {
    display: flex;
    flex: 75%;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.numbers .btn {
    flex: 30%;
}

.equal {
    flex: 25%;
    display: flex;
    /*align-items: stretch;*/
    /*align-content: stretch;*/
}

.btn__equal {
    align-self: stretch; /* vagy a befoglaló div-jében 'align-item: stretch', viszont az minden elemre vonatkozik. */
    background-color: cornflowerblue;
    color: whitesmoke;
    flex: 25%;
}

/*
Kell:
keretek színe: középszürke, 0,7-ös alpha
gombok szövege mindkét tengelyen középre igazítva
gombok háttérszíne:
    normál: halványszürke
    műveleti: középszürke
    egyenlő: primary-kék
Egyenlő gomb szöveg színe: fehér
Egyenlő gomb 3 sornyira kinyújtva flexboxban
*/